<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user}}'s WatchList</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css')}}" type="text/css">
</head>
<body>
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static',filename='images/1.jpg') }}">

        {{ user}}'s Watchlist
    </h2>
    <p>{{ movies|length}} Titles</p>
    <ul>
        {% for movie in movies %}
        <li>{{ movie.title }}-{{ movie.year}}</li>
        {% endfor %}
    </ul>
    <footer>
        <img alt="Walking Totaro" class="totoro" src="{{ url_for('static',filename='images/totoro.gif')}}">
        <samll>&copy;2019 <a href="http://helloflask.com/tutorial">HelloFlask</a></samll>
    </footer>



</body>
</html>